@model bool
    @* HasPassword *@
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>

        <dt>Service Categories:</dt>
        <dd>
            [
            @Html.ActionLink("Manage Categories", "Index", "ServiceCategory")
            ]
        </dd>

        <dt>Services:</dt>
        <dd>
            [
            @Html.ActionLink("Manage Services", "Index", "Service")
            ]
        </dd>

        <dt>Not Approved Services:</dt>
        <dd>
            [
            @Html.ActionLink("Approve Services", "Approve", "Service")
            ]
        </dd>

    </dl>
</div>
