@model List<ServicesApp.ViewModels.ViewModels.ProviderServiceFullViewModel>

@{
    ViewBag.Title = "Your Service Relations";
}

<h2>@ViewBag.Title</h2>

@foreach (var item in Model)
{
    <div class="panel panel-default">
        <div class="panel-body row">
            <div class="col-sm-4 col-md-3 fix-height-200">
                @if (item.Photo != null)
                {
                    <img src=@item.Photo.Url class="img-rounded img-responsive img-height-auto" />
                }
                else
                {
                    <img src="~/Content/DataImages/NoImage.png" class="img-rounded img-responsive img-height-auto" />
                }
            </div>
            <div class="col-sm-8 col-md-9">
                <div>
                    <dl class="dl-horizontal">

                        <dt>
                            @Html.DisplayNameFor(modelItem => item.Service.Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(modelItem => item.Service.Name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(modelItem => item.Service.Category)
                        </dt>

                        <dd>
                            @Html.DisplayFor(modelItem => item.Service.Category)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(modelItem => item.Service.Description)
                        </dt>

                        <dd>
                            @Html.DisplayFor(modelItem => item.Service.Description)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(modelItem => item.ServicePrice)
                        </dt>

                        <dd>
                            @Html.DisplayFor(modelItem => item.ServicePrice)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(modelItem => item.Description)
                        </dt>

                        <dd>
                            @Html.DisplayFor(modelItem => item.Description)
                        </dd>
                    </dl>
                </div>
                <div>
                    <a href=@Url.Action("Details", "Service", new { id = item.ServiceId }) class="btn btn-primary">Service Details</a>
                    <a href=@Url.Action("Edit", new { serviceId = item.ServiceId }) class="btn btn-default">Edit Relation</a>
                    <a href=@Url.Action("Delete", new { id = item.Id }) class="btn btn-danger">Delete Relation</a>
                </div>
            </div>
        </div>
    </div>
}