@model ServicesApp.ViewModels.ViewModels.ServicesListViewModel
@using ServicesApp.Website.HtmlHelpers

@{
    ViewBag.Title = "Services to Approve";
}

<h2>these services are not approved</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Services.FirstOrDefault().Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Services.FirstOrDefault().Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Services.FirstOrDefault().Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Services)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

<ul class="pagination">
    @Html.PageLinks(Model.PageInfo, x => Url.Action("Approve", new { page = x }))
</ul>
