@model ServicesApp.ViewModels.ViewModels.ServiceViewModelWithRelations
@using Microsoft.AspNet.Identity;
@using System.Globalization;
@{
    ViewBag.Title = "Details";
}

<h2>Service</h2>

<div class="row">
    <div class="col-sm-offset-2 col-sm-6 col-md-4">
        @if (Model.Photo != null)
        {
            <img src=@Model.Photo.Url class="img-rounded img-responsive" />
        }
        else
        {
            <img src="~/Content/DataImages/NoImage.png" class="img-rounded img-responsive" />
        }
    </div>
</div>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>

<div>
    @if (User.IsInRole("Administrator"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
    }
    else if (User.IsInRole("ServiceProvider"))
    {
        if (Model.ServiceProviderServices.Any(m => m.ServiceProviderId == User.Identity.GetUserId()))
        {
            @Html.ActionLink("Change your Service Relation", "Edit", "ServiceRelation", new { serviceId = Model.Id }, new { @class = "btn btn-primary" })
        }
        else
        {
            @Html.ActionLink("Provide this Service", "Create", "ServiceRelation", new { serviceId = Model.Id }, new { @class = "btn btn-primary" })
        }
    }
    | @Html.ActionLink("Back to List", "Index")
</div>

<h4>Service Providers</h4>
<div class="row">
    @foreach (var item in Model.ServiceProviderServices)
    {
        <div class="panel panel-default col-sm-4">
            <div class="panel-body fix-height-450">
                <div>
                    <a href=@Url.Action("Details", new { id = item.Id })>
                        @if (item.Photo != null)
                        {
                            <img src=@item.Photo.Url class="img-rounded img-responsive img-height-300" />
                        }
                        else
                        {
                            <img src="~/Content/DataImages/NoImage.png" class="img-rounded img-responsive img-height-300" />
                        }
                    </a>
                </div>
                <div>
                    <dl>

                        <dt>
                            Service Provider
                        </dt>

                        <dd>
                            <a href="" data-toggle="modal" data-target="#descServiceProvider-@item.Id">
                                @Html.DisplayFor(modelItem => item.ServiceProvider.Name)
                            </a>
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(modelItem => item.Description)
                        </dt>

                        <dd>
                            @Html.DisplayFor(modelItem => item.Description)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(modelItem => item.ServicePrice)
                        </dt>

                        <dd>
                            @Html.DisplayFor(modelItem => item.ServicePrice)
                        </dd>

                        @if (item.AvgRating != null)
                        {
                            <dt>
                                @Html.DisplayNameFor(modelItem => item.AvgRating)
                            </dt>

                            <dd>
                                <input class="rating star-rating" value="@item.AvgRating.Value.ToString(CultureInfo.InvariantCulture)" type="text" data-size="xs" data-show-clear="false" data-show-caption="false">
                            </dd>
                        }
                    </dl>
                </div>

                <div>
                    <a href='@Url.Action("Details", "ServiceRelation", new { id = item.Id })' class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>

        <div id="descServiceProvider-@item.Id" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h3 class="modal-title">Service Provider</h3>
                    </div>
                    <div class="modal-body">
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(modelItem => item.ServiceProvider.Name)
                            </dt>

                            <dd>
                                @Html.DisplayFor(modelItem => item.ServiceProvider.Name)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(modelItem => item.ServiceProvider.ConfirmDocs)
                            </dt>

                            <dd>
                                @Html.DisplayFor(modelItem => item.ServiceProvider.ConfirmDocs)
                            </dd>

                        </dl>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.star-rating').rating({ displayOnly: true });
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/star-rating")
}