@model ServicesApp.ViewModels.ViewModels.ServiceViewModelWithRelations
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Details";
}

<h2>Service</h2>

<div class="row">
    <div class="col-sm-offset-2 col-sm-6 col-md-4">
        @if (Model.Photo != null)
        {
            <img src=@Model.Photo.Url class="img-rounded img-responsive" />
        }
        else
        {
            <img src="~/Content/DataImages/NoImage.png" class="img-rounded img-responsive" />
        }
    </div>
</div>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>

<div>
    @if (User.IsInRole("Administrator"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
    }
    else if (User.IsInRole("ServiceProvider"))
    {
        if (Model.ServiceProviderServices.Any(m => m.ServiceProviderId == User.Identity.GetUserId()))
        {
            @Html.ActionLink("Change your Service Relation", "Edit", "ServiceRelation", new { serviceId = Model.Id }, new { @class = "btn btn-primary" })
        }
        else
        {
        @Html.ActionLink("Provide this Service", "Create", "ServiceRelation", new { serviceId = Model.Id }, new { @class = "btn btn-primary" })
        }
    }
     | @Html.ActionLink("Back to List", "Index")
</div>

<h4>Service Providers</h4>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ServiceProviderServices.FirstOrDefault().ServiceProvider.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServiceProviderServices.FirstOrDefault().ServiceProvider.ConfirmDocs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServiceProviderServices.FirstOrDefault().ServicePrice)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.ServiceProviderServices)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceProvider.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceProvider.ConfirmDocs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServicePrice)
            </td>
            <td>
                @if (User.IsInRole("Customer"))
                {
                    @Html.ActionLink("Make Order", "Create", "Order", new { serviceProviderServiceId = item.Id }, new { @class = "btn btn-primary" })
                }
            </td>
        </tr>
    }

</table>