@model ServicesApp.ViewModels.ViewModels.ServicesListViewModel
@foreach (var item in Model.Services)
{
    <div class="panel panel-default">
        <div class="panel-body row">
            <div class="col-sm-4 col-md-3 fix-height-150">
                <a href=@Url.Action("Details", new { id = item.Id })>
                    @if (item.Photo != null)
                    {
                        <img src=@item.Photo.Url class="img-rounded img-responsive img-height-auto" />
                    }
                    else
                    {
                        <img src="~/Content/DataImages/NoImage.png" class="img-rounded img-responsive img-height-auto" />
                    }
                </a>
            </div>
            <div class="col-sm-8 col-md-9">
                <div>
                    <dl class="dl-horizontal">

                        <dt>
                            @Html.DisplayNameFor(modelItem => item.Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(modelItem => item.Name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(modelItem => item.Category)
                        </dt>

                        <dd>
                            @Html.DisplayFor(modelItem => item.Category)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(modelItem => item.Description)
                        </dt>

                        <dd>
                            @Html.DisplayFor(modelItem => item.Description)
                        </dd>
                    </dl>
                </div>
                <div>
                    <a href=@Url.Action("Details", new { id = item.Id }) class="btn btn-primary">Details</a>

                    @if (User.IsInRole("Administrator"))
                    {
                        <a href=@Url.Action("Edit", new { id = item.Id }) class="btn btn-default">Edit</a>
                        <a href=@Url.Action("Delete", new { id = item.Id }) class="btn btn-danger">Delete</a>
                    }
                </div>

            </div>
        </div>
    </div>
}

<ul class="pagination">
    @for (int i = 1; i <= Model.PageInfo.TotalPages; i++)
    {
        <li class='@(Model.PageInfo.PageNumber==i?"active":"")'><a href="#">@i</a></li>
    }
</ul>