@model ServicesApp.ViewModels.IdentityViewModels.CustomerProfileViewModelManage
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        <dt>@Html.DisplayNameFor(m => m.CustomerProfile.Name):</dt>
        <dd>
            @Html.DisplayFor(m => m.CustomerProfile.Name)
        </dd>
        <dt>@Html.DisplayNameFor(m => m.CustomerProfile.Surname):</dt>
        <dd>
            @Html.DisplayFor(m => m.CustomerProfile.Surname)
        </dd>
        <dt>@Html.DisplayNameFor(m => m.CustomerProfile.Phone):</dt>
        <dd>
            @Html.DisplayFor(m => m.CustomerProfile.Phone)
        </dd>
        <dd>
            [
            @Html.ActionLink("Change", "UpdateProfile")
            ]
        </dd>
        <dd>
            [
            @Html.ActionLink("Your Orders", "Index", "Order")
            ]
        </dd>
    </dl>
</div>
