@model ServicesApp.ViewModels.IdentityViewModels.CustomerProfileViewModelManage
@{
    ViewBag.Title = "Your Profile";
}

<h2>@ViewBag.Title.</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword", "Manage")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword", "Manage")
            }
            ]
        </dd>
        <dt>@Html.DisplayNameFor(m => m.CustomerProfile.Name)</dt>
        <dd>
            @Html.DisplayFor(m => m.CustomerProfile.Name)
        </dd>
        <dt>@Html.DisplayNameFor(m => m.CustomerProfile.Surname)</dt>
        <dd>
            @Html.DisplayFor(m => m.CustomerProfile.Surname)
        </dd>
        <dt>@Html.DisplayNameFor(m => m.CustomerProfile.Phone)</dt>
        <dd>
            @Html.DisplayFor(m => m.CustomerProfile.Phone)
        </dd>
        <dd>
            [
            @Html.ActionLink("Change", "UpdateProfile")
            ]
        </dd>
    </dl>
</div>
